@import url(https://fonts.google.com/specimen/Karla);
*{
    box-sizing: border-box
    margin: 0;
    padding: 0;
}
:root {
--Dark Violet: hsl(256, 26%, 20%);
--grayish Blue: hsl(216, 30%, 68%);
--Very Dark Violet: hsl(270, 9%, 17%)
--Dark Grayish Violet: hsl(273, 4%, 51%)
--Very Light Gray: hsl(0, 0%, 98%)
    
}
body {
   font-family: (https://fonts.google.com/specimen/Karla);
   font-weight: 400, 700;
   ; 

font-size: 16px

}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;


    
}
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary



### Neutral

- Very Dark Violet: hsl(270, 9%, 17%)
- Dark Grayish Violet: hsl(273, 4%, 51%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography

### Body Copy

- Font size: 16px

### Headings

- Family: [DM Serif Display](https://fonts.google.com/specimen/DM+Serif+Display)
- Weights: 400

### Body

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700

## Icons

You can use either use the social icons provided or load in a font icon library. Some library suggestions can be found below:

- [Font Awesome](https://fontawesome.com)
- [IcoMoon](https://icomoon.io)
- [Ionicons](https://ionicons.com)