
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: 'Karla', sans-serif;
}

p {
  line-height: 1.6em;
  color: hsl(273, 4%, 51%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', sans-serif;
}

.button {
  background: transparent;
  color: #d7d4d4;
  font-size: 12px;
  font-weight: 700;
  margin: 15px 0;
  padding: 10px 25px;
  border: 2px solid #d7d4d4;
  cursor: pointer;
}


.header-container {
  position: relative;
  min-height: 1020px;
  background-color: #fff;
}

.header-image {

  display: block;
  width: 100%;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 2.9em;
  padding-top: 10%;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 3%;
}
.process,
.prices,
.people {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 4%;
  padding: 5%;
  text-align: center;


button.button {
  display: block;
  background-color: hsl(270, 9%, 17%);
  color: white;
  margin: auto;
  width: 60%;
  padding: 0.6em;
  border: 2px solid white;
}

.links a {
  display: block;
  margin: 0 auto 13%;
  text-decoration: none;
  list-style: none;
  color: #333;
  font-weight: 600;
  font-size: 15px;
}
